@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
}

.c-auto {
    @apply container mx-auto;
}

.fji {
    @apply flex justify-center items-center;
}

.bgc {
    background: rgb(63, 0, 53);
    background: linear-gradient(84deg, rgba(63, 0, 53, 1) 0%, rgba(50, 0, 88, 1) 36%, rgb(35, 8, 118) 100%);
}

.bgc2 {
    background: rgb(230, 43, 6);
    background: linear-gradient(84deg, rgba(230, 43, 6, 1) 0%, rgb(185, 13, 156) 100%);
}

.tasks-bgc {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.color1 {
    @apply bg-gradient-to-r from-red-600 via-purple-900 to-red-600;
}

.bgi {
    background-image: url('https://i.ibb.co/1MpMwS3/6600674-3334896.jpg');
    background-size: cover;
}

.gradient-text {
    background: linear-gradient(84deg, rgba(230, 43, 6, 1) 0%, rgb(242, 21, 154) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* For webkit-based browsers */
    color: transparent;
}
input, .input{
    background-color: inherit;
    @apply border border-gray-500 focus:border-gray-300 rounded-md px-3 py-1
}
.label{
    @apply mr-3
}
